---
target: assets/creds/master-account.yaml
---

{%- set config = data.get('cluster') -%}

apiVersion: v1
kind: Secret
metadata:
  name: master-account
  labels:
    role: master-account
    project: {{ config['project'] }}
    environment: {{ config['environment'] }}
type: Opaque
data:
  name: {{ config['master-account']['name']|b64encode }}
  realm: {{ config['master-account']['realm']|b64encode }}
  user: {{ config['master-account']['user']|b64encode }}
  pass: {{ gen_token()|b64encode }}
