---
target: /assets/config/jonny5.json
---

{
    "_id": "jonny5",
    "default": {
        "default_enabled": true,
        "default_calls": -1,
        "default_resource_consuming_calls": -1,
        "default_inbound_trunks": 10,
        "default_outbound_trunks": 10,
        "default_twoway_trunks": 10,
        "default_burst_trunks": 20,
        "default_max_postpay_amount": 0,
        "default_reserve_amount": 0.5,
        "default_allow_prepay": true,
        "default_allow_postpay": false,
        "default_soft_limit_inbound": false,
        "default_soft_limit_outbound": false,
        "flat_rate_whitelist": "^\\+?1{0,1}\\d{10}$"
    },
    "pvt_type": "config",
    "pvt_account_id": "system_config",
    "pvt_account_db": "system_config"
}
