---
target: assets/config/provider.voip-innovations.json
---

{% set config = kube.get('secret', 'provider.voip-innovations').data -%}

{
   "_id": "number_manager.voip_innovations",
   "default": {
       "login": "{{ config['login'] }}",
       "password": "{{ config['password'] }}",
       "endpoint_group": "{{ config['endpoint-group'] }}",
       "debug": true,
       "sandbox_provisioning": false,
       "enable_provisioning": true
   }
}
