---
target: assets/config/speech.json
---

{% set config = kube.get('secret', 'speech.ispeech').data -%}

{
    "_id": "speech",
    "default": {
        "tts_default_voice": "female/en-US",
        "tts_provider": "{{ config['name'] }}",
        "tts_url": "{{ config['url'] }}",
        "tts_api_key": "{{ config['api_key'] }}",
        "tts_speed": 0,
        "tts_start_padding": 1,
        "tts_end_padding": 0
    },
    "pvt_type": "config",
    "pvt_account_id": "system_config",
    "pvt_account_db": "system_config"
}
